<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/styles/welcome.css">
</head>
<body>
  <h1>API for Old Oak Farm project</h1>
  <p>
    <strong>Project:</strong> Old Oak Farm web app built using MERN stack<br>
    <strong>Project Purpose:</strong> Thesis Project for Bachelor's degree in mobile and web dev<br>
    <strong>School Name:</strong> Laurea AMK<br>
    <strong>Student Name:</strong> Matti Simpson<br>
  </p>
  <p>
    <strong>Routes:</strong><br>
    <a href="/api/v1/users" target="_blank">User</a><br>
    <a href="/api/v1/menus" target="_blank">Menu</a><br>
    <a href="/api/v1/blogs" target="_blank">Blog</a><br>
    <a href="/api/v1/mailing-lists" target="_blank">Mailing List</a><br>
  </p>
</body>
</html>